<!DOCTYPE html>
<html>
  <head>
    <title>TC3049 - Final Project</title>
    <link rel="stylesheet" href="https://dpalmer.in/Peoria/css/peoria-0-6-2.min.css">
    <link href="./main.css" rel="stylesheet">
    <script src="https://dpalmer.in/Peoria/peoria-4.js"></script>
  </head>
  <body>
  <nav class="night navbar">
  <img height="32" scr="" alt="Logo">
  <div class="navmenu">
  <a class="navlink" href="/">Quiz</a>
  <a class="navlink" href="/leaderboard">Leaderboard</a>
  </div>
  </nav>
  <section class="section">
    <h1>lol no nos repruebe plix</h1>
    <p><%= @errorMessage %></p>
    </section>
  </body>
</html>